@import "/src/styles/Variables/Variables.scss";

.Switch {
    transition: 0.8s;
    height: 40px;
    width: 40px;
}

button {
    background-color: $Background-Light;
    border: none;
}

.Toggle {
    display: flex;
    font-size: 18px;
    font-family: $BodyFont;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}

.dark {
    button {
        background-color: $Background-Dark
    }
    .Toggle {
        color: $Grey;
    }
}