@import "/src/styles/Variables/Variables.scss";

* {
  padding: 0;
  margin: 0;
}

.light {
  background-color: $Background-Light;
  color: $Black;
}

.dark {
  background: $Background-Dark;
  color: $Grey;
}