@import "/src/styles/Variables/Variables.scss";

.Title {
    text-transform: uppercase;
    color: $GreenColor;
    margin-left: 60px;
    margin-top: 60px;
    font-family: $TitleFont;
    font-size: 48px;
}