@import "/src/styles/Variables/Variables.scss";

.Title {
    text-transform: uppercase;
    color: #32C958;
    font-family: $TitleFont;
    font-size: 48px;
}

.Header {
    margin-left: 152px;
    margin-right: 152px;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

