@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
$defaultFont: Montserrat, sans-serif;

.Title {
    text-transform: uppercase;
    color: #32C958;
    margin-left: 60px;
    margin-top: 60px;
    font-family: $defaultFont;
    font-size: 48px;
}