@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans:wght@600&display=swap');

$Black: #1C1B1F;
$GreenColor: var(--Green, #32C958);
$Grey: var(--Grey, #D9D9D9);
$Background-Light: var(--Grey, #D9D9D9); 
$Background-Dark: var(--Dark, #1C1B1F); 

$TitleFont: Montserrat, sans-serif;
$BodyFont: "Open sans", sans-serif;
