@import "/src/styles/Variables/Variables.scss";

.Container {
    font-family: $BodyFont;
    margin-top: 40px;
    font-size: 32px;
    margin-left: 152px;
    max-width: 47%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.light {
    .text {
        color: $Black;
    }
}

.dark {
    .text {
        color: $Grey;
    }
}

.Randomizer {
    width: 184px;
    height: 48px;
    border: solid 4px $GreenColor;
    color: $GreenColor;
    border-radius: 20px;
    font-size: 18px;
    left: 45.2%;
    top: 185px;
    cursor: pointer;
}