@import "/src/styles/Variables/Variables.scss";

.Container {
    color: $Black;
    font-family: $BodyFont;
    margin-top: 40px;
    font-size: 32px;
    margin-left: 152px;
    max-width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Randomizer {
    margin-top: 10px;
    @include buttonStyle();
}

